---
layout: layout.liquid
title: 11ty Boilerplate
---
<div x-data="{ name: '' }">
    <h1>Your random name is: <strong x-text="name"></strong></h1>
    <button @click="name = getRandomName()">Get Name</button>
</div>